<nav class="navbar-t"> 
  <a href="/"><img src="https://cdn.icon-icons.com/icons2/805/PNG/512/tumblr_icon-icons.com_65932.png" class="navbar-logo" alt="logo"></a>
  <ul class="navbar-links">
    {{!-- use user var from index --}}
    {{#if user}}
      <li class="navbar-item"><a class="navbar-item_link" href="/logout">Logout</a></li>
      <li class="navbar-item"><a class="navbar-item_link ancor-new" href="/posts/new"><i class="fas fa-pencil-alt navbar-new icon-new"></i></a></li>
      <li class="navbar-user_name"><p>{{user.username}}</p></li>
      <li class="navbar-user_slot"><img class="navbar-user" src={{user.picPath}} alt="user"></li>
      {{else}}
        <li class="navbar-item"><a class="navbar-item_link" href="/signup">Signup</a></li>
        <li class="navbar-item"><a class="navbar-item_link" href="/login">Login</a></li>
    {{/if}}
  </ul>
</nav>